<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="#{page.perfumes}">향수 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/perfumes/add}'|"
                    type="button" th:text="#{page.addPerfume}">향수 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.perfume.perfumeName}">향수 이름</th>
                <th th:text="#{label.perfume.brand}">브랜드</th>
                <th th:text="#{label.perfume.date}">시향 날짜</th>
                <th th:text="#{label.perfume.rating}">평점</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="perfume : ${perfumes}">
                <td><a href="perfumes.html" th:href="@{/perfumes/perfumes/{perfumeId}(perfumeId=${perfume.id})}" th:text="${perfume.perfumeName}">향수 이름</a></td>
                <td th:text="${perfume.brand}">브랜드</td>
                <td th:text="${perfume.date}">시향 날짜</td>
                <td th:text="${perfume.rating}">평점</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn-primary btn-lg"
                    onclick="location.href='loginHome.html'"
                    th:onclick="|location.href='@{/perfumes}'|"
                    type="button" th:text="#{button.cancel}">취소</button>
        </div>
    </div>

</div> <!-- /container -->

</body>
</html>